.main {
    width: 40rem;
    height: 100vh;

    padding: 1rem;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.bloque {
    width: 10rem;
    height: 10rem;
    background-color:rgb(145, 0, 0);
    box-shadow: 3px 4px 4px white;
    border-radius: 2rem;
}

.bloque:hover {
    cursor: pointer;
    background-color: darkblue;
    transition: 0.2s;
}

.activo {
    display: none;
}